VITE_FIREBASE_API_KEY=AIzaSyAXoQvQUPaTzjXHlDstwzgM_kXO3DpPA5Q
VITE_FIREBASE_AUTH_DOMAIN=portfolio-nur-3c9dc.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=portfolio-nur-3c9dc
VITE_FIREBASE_STORAGE_BUCKET=portfolio-nur-3c9dc.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=440462828186
VITE_FIREBASE_APP_ID=1:440462828186:web:a35efd0ba82d0cebd33523
